@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Comfortaa';
}

.container{
  width: 100% ;
  margin: 0px ;
  padding: 0px;
  display: inline;
}

.banners{
  width: 100%;
}

#carouselExample
{
  width: 400px;
}
.menu {
    width: 100%;
    margin: auto;
    align-items: center;
    height: 80px;
    z-index: 1;
    display: flex;
    position: fixed;
    background-color:black;
    padding-left: 20px;
}


.lista1{
    text-align: end;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    margin: auto;
    height: 100%;
    padding-inline-end: 5px;
    width: 100%;
    padding: 30px;
    list-style-type: none;
}  

.logo {
    width: auto;
    position: absolute;
}



.item-lista1{
    min-width: 100px;
    color: white !important;
    text-decoration: none;
    text-align: center;
    padding-inline: 15px;
    font-family: 'Comfortaa';
    transition: 0.5s;
}


.item-lista1:hover{
    background-color: lightgray;
    color: black;
    padding-inline: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.banner, .banner2, .banner3, .bannerp, .bannerPontosExtras{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 450px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bigbanner, .bigbanner2 {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner-img1{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/banner.png);
}

.banner-img2{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/banner2.png);
}

.banner-img3 {
  background-image: url(img/sobre.png);
}

.banner-img4 {
  background-image: url(img/hall.png);
}

.banner2{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/banner2.png);
}

.banner3{
  background-image: url(img/sobre.png);
}

.banner{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/banner.png);
}

#bannerp{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bannerPontuacoes.jpg);
}

#bannerPontosExtras{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bannerPontosExtras.png);
  background-position-y: 13%;
}

#bannerHall{
  background-image:  url(img/bannerHallPontuacao.png);
  background-position: center;
}

#bannerNiveis{
  background-image:  url(img/bannerNiveisPontuacoes.png);
  background-position: center;
}

#bannerd{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bannerd.jpg);
}
#bannerDesafios{
  background-image:  url(img/bannerDesafios.png);
}

#bannerDnovo{
  background-image:  url(img/bannerDesafiosNovo.jpg);
  background-position-y: -370px;
}

#bannerUniaoSustentavel{
  background-image:  url(img/bannerUniaoSustentavel.jpg);
  background-position: center;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Comfortaa';
  display: block;
  width: 100%;
  padding: 0 60px;
  justify-content: center;
}

.titulobanner {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Comfortaa';
}
  
.subtitulobanner {
    width: 100%;
    font-size: 18px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  
.tabindex{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}


.textointroducao{
  display: grid;
  flex-direction: column;
  font-family: 'Comfortaa';
  margin-right: 100px;
  font-size: 18px;
  line-height: 30px;
  grid-gap: 30px;
}

button {
  background-color: #3dcd58;
  border: solid #3dcd58 1px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-family: 'Comfortaa';
  font-size: 15px;
}

.video {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.video iframe {
width: 600px;
height: 395px;
}

.beneficios{
  background-color: #3dcd58;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 50px 0 50px 0;
  align-items: center;
}

  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }

.blocosbeneficios{
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}

.bloco{
  display: grid;
  flex-direction: column;
  padding: 30px 20px;
  grid-gap: 15px 8px;
  line-height: 30px;
}

.imgbeneficio{
  width: 250px;
  height: 212px;
  margin-left: 15px;
}

hr{
  width: 90%;
  display: block;
  margin-left: 80px;
}

.imglinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imglink1{
  display: grid;
  grid-gap: 40px;
  }

.imglink{
  margin-left: 40px;
}

.login{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: 100%;
  padding: 200px 0 200px 0;
  justify-content: center;
  align-items: center;
}

.imglogin{
  background-image: url(img/seguranca.png);
  width: 250px;
  height: 281px;
  margin-left: 80px;
}

.textlogin{
  margin-left: 50px;
  display: grid;
  grid-gap: 15px 8px;
  width: 60%;
  margin-right: 80px;
}

footer{
  display: flex;
  flex-direction: row;
  background-color: #3dcd58;
  width: 100%;
  padding: 200px 0 200px 0;
  justify-content: center;
  align-items: center;
}

.imgfooter{
  background-image: url(img/footer.png);
  width: 256px;
  height: 256px;
  margin-left: 80px;
}

.textfooter{
  margin-left: 50px;
  display: grid;
  grid-gap: 15px 8px;
  width: 60%;
  margin-right: 80px;
  color: white;
}

.collapsible {
  cursor: pointer;
  padding: 60px;
  background-color: #3dcd58;
  color: #fff;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.collapsible:after {
  content: '\25B6'; /* Unicode para a seta para a direita */
  position: absolute;
  right: 100px;
  transform: rotate(0deg);
  transition: transform 0.3s;
}


.content {
  display: none;
  line-height: 30px;
  padding: 0 50px 50px 50px;
  background-color: #3dcd58;
  color: #fff;
  width: 100%;
}

.content.active {
  display: block;
}

.content.active a {
  color: #fff;
}

.active.collapsible:after {
  transform: rotate(90deg);
}


.introducao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.imgintroducao{
  margin: 150px 0;
}

.textintroducao{
  width: 90%;
  display: flex;
  margin-top: 50px;
  font-weight: 600;
}

.box{
  display: flex;
  flex-direction: row;
  padding-inline: 65px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}


.textboxA{
  display: grid;
  grid-gap: 15px 8px;
  margin-right: 50px;
  font-size: 16px;
}

.box img{
  align-self: flex-end;
}

.textboxB{
  display: grid;
  grid-gap: 15px 8px;
  margin-left: 50px;
  font-size: 16px;
}

span{
  background-color: #b6d7a8;
}

.dicasONU{
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: 100%;
  justify-content: center;
  padding: 200px 50px;
  align-items: center;
}

.imgONU{
  background-image: url(../CSS/img/ONU.png);
  width: 440px;
  height: 230px;
}

.textONU{
  display: grid;
  grid-gap: 15px 8px;
  margin-left: 60px;
}

a {
  color: black;
}

.image-container {
  opacity: 0; /* Inicialmente, a imagem está oculta */
  transition: opacity 0.5s; /* Efeito de transição suave */
  margin: 20px;
  width: 66px;
  height: 66px;
}

.image-container.show {
  opacity: 1; /* Mostra a imagem quando a classe "show" é adicionada */
  width: 66px;
  height: 66px;
}

.noticia{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 80px;
}

.textnoticia{
  display: grid;
  width: 570px;
  grid-gap: 30px 8px;
  text-align: end;
  margin-right: 40px;
  margin-left: 30px;
}

.imagensODS{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.botaoteam{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.avatares{
  margin-top: 20px;
  margin-bottom: 30px;
}
.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3DCD58;
}

.avatares1 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 20px;
  position: relative;
}

.avatares1 p{
  margin-top: 10px;
}

.avatares1 img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}


.avatares1 h3{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  padding: 10px;
  font-size: 16px;
  text-align: start;
  width: 100%;
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
}

.avatares1 img.hover-shadow {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.avatares1 img.hover-shadow:hover {
  transform: scale(1.05);
  border-radius: 30px;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.5); 
}

.sobreprojeto{
  margin-left: 70px;
  margin-bottom: 40px;
}


/* SOBRE PONTUAÇOES ALINHAMENTO */

.boxP{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  align-items: center;
}

.boxP #carouselExample{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.boxP .texto{
  display: grid;
  flex-direction: column;
  font-family: 'Comfortaa';
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
  line-height: 30px;
  grid-gap: 30px;
}

.boxP .texto h2{
  color: #3DCD58;
}

.boxP  #center{
  text-align: center;
}

.boxP #right{
  text-align: end;
}
/* banner Pontos extras*/
.titulobannerPontosExtras, .subtitulobannerPontosExtras, .buttonPontosExtras {
  position: relative;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa';
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.titulobannerPontosExtras {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Comfortaa';
  height: max-content;
}

.subtitulobannerPontosExtras {
  font-size: 18px;
  display: flex;
  height: 20%;
}

.buttonPontosExtras{
  display: flex;
  height: 28%;
}

/* ALINHAMENTO  SOBRE DESAFIOS*/
.boxD{
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 30px 50px;
}

.boxD .listaSD{
  display: flex;
  flex-direction: column;
    align-items: center;
}
.boxD .lista2Imagens , .boxD .lista1Imagens {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px;
  align-items: flex-start;

}
.listaSD .i i{
  font-size: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
}

.material-symbols-outlined {
  color: #3DCD58;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48

}


.listaSD h3{
  margin-top: 25px;
  margin-bottom: 5px;
  width: 250px;
    text-align: center;
}


.listaSD p{
  width: 70%;
    margin-top: 10px;
    text-align: justify;
}

/* TEXTOS */
.boxD .texto h2{
 text-align: center;
 margin: 30px;
}

.boxD .texto p{
  text-align: justify;
  margin-top: 30px;
}


/* ---------perfil---------- */
.distancia-teste{
  height: 140px;
}

.forum-perfil{
  background-color: #3DCD58;
  height: 480px;
}

.forum-sub{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.forum-perfil > h4 {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.forum-perfil p {
  text-align: center;
}

.img-perfil{
  background-image: url(../CSS/img/perfil-challenge.png);
  height: 325px;
  width: 324px; 
  margin-left: 5%;
}

.img-menu-perfil{
  background-image: url(../CSS/img/menu-perfil-challenge.png);
  height: 325px;
  width: 499px;
  margin-right: 5%;
}
/* ---------post---------- */
.criar-post{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.perfil-post{
  width: 60px;
  height: 60px;
  margin-top: 5%;
}
.react-comentario{
  width: 170px;
  height: 30px;
  margin-top: 5%;
  margin-left: 40%;
}

.escrever-post input {
  border: none;
  height: 30px;
  width: 400px;
  margin-left: 15px;
}

.botoes-post{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.btn-post{
  background-color: #3DCD58;
}
.btn-rasc{
  background-color: #FFF;
  color: #3DCD58;
}
.menu-timeline button{
  background-color: #E5FFE6;
  border: none;
}
.menu-timeline{
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  margin-left: 15%;
}

.timeline-forum{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  grid-gap: 50px;
}

.post{
  word-wrap: break-word;
  width: 750px;
  margin-right: 150px;
}
.post p{
  margin: 10px;
  font-size: 14px;
}
.post input{
  border: none;
  margin-left: 15px;
  width: 300px;
}

.post-comentario{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perfil-post-1{
 background-image: url(../CSS/img/perfil-post-1.png);
 height: 119px;
 width: 749px;
}

.perfil-post-2{
  background-image: url(../CSS/img/perfil-post-2.png);
  height: 119px;
  width: 749px;
 }

 .perfil-post-3{
  background-image: url(../CSS/img/perfil-post-3.png);
  height: 119px;
  width: 749px;
 }

.img-post-1{
  background-image: url(../CSS/img/img-post-1.png);
  height: 250px;
  width: 750px;
}

.img-post-3{
  background-image: url(../CSS/img/img-post-3.png);
  height: 320px;
  width: 750px;
}
.like-coment{
  display: flex;
  justify-content: space-between;
  color: #3DCD58;
}

.introducaopont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;  
  margin-left: 70px;
  align-items: center;
}

.button1{
  background-color: #3dcd58;
  text-decoration: none;
  width: 1200px;
  margin-top: 30px;
  justify-content: center;
}

.mensagem-confirmacao {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

.collapsible2 {
  cursor: pointer;
  font-weight: 800;
  display: flex;
  align-items: center;

}

.collapsible2:after {
  content: '\25B6'; /* Unicode para a seta para a direita */
  position: absolute;
  right:initial;
  transform: rotate(0deg);
  transition: transform 0.3s;

}


.content2{
  display: none;
  line-height: 30px;
  padding: 0 50px 50px 50px;
}

.content2.active {
  display: block;
}

.premiospt1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.premio1{
  display: flex;
  width: 45%;
  flex-direction: column;
}
.premio2{
  display: flex;
  width: 45%;
  flex-direction: column;
}

.premiospt2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}

.premio3{
  display: flex;
  width: 45%;
  flex-direction: column;
}

.ranking{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top123{
  background-color: #3DCD58;
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.top1{
  display: flex;
  flex-direction: row;
  padding-inline: 20px ;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.perfil1{
  display: flex;
  flex-direction: row;
  background-color: #d9ffa9;
  border-radius: 30px;
  width: 541px;
  height: 111px;
  margin-left: 50px;
}

.fotoperfil{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  width: 270px;
}

.pontostrofeu{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 269px;
  justify-content: end;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: #3DCD58;
}

.grid-item {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 445px;
  height: 90px;
  background-color: #d9ffa9;
  border-radius: 30px;
  margin-bottom: 20px;
}

.fotoperfil2{
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: start;
  font-weight: bold;
  width: 222px;
}

.pontostrofeu2{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 221px;
  justify-content: end;
}

.column-1 {
  justify-self: end;
}

.column-2 {
  justify-self: start;
}

/* DESAFIOS */
/* TEXTOS */
.boxDesafios{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.boxDesafios .texto{
  text-align: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxDesafios h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.boxDesafios h3{
  margin-bottom: 10px;
  margin-top: 10px  ;
}


.boxDesafios img{
  width: 5%;
}

#textoW h2 {
  text-align: center;
  color: black !important;
}

#textoW h3 {
  color: black !important;
}

#textoW h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.boxDesafios p b{
  color: #3DCD58;
}

/* BACKGROUND*/
#green{
  display: flex;
  background-color: #3DCD58;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgDesafio1, .imgDesafio2, .imgDesafio3, .imgDesafio4 {
  background-color: #3DCD58;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/*IMAGENS POSTS*/
.img-post-3-desafios img, .img-post-1-desafios img {
  height: 500px;
  width: 750px;
}

.postD{
  word-wrap: break-word;
  width: 750px;
  /* margin-right: 150px; */
  display: flex;
  flex-direction: column;
} 

.post-comentarioD{
  display: flex ;
  align-items: center;
  justify-content: space-between;
}

.post-comentarioD .perfil-post{
  margin: 0;
  width: 10%;
}

.post-comentarioD .comentario{
  margin: 0;
}
.post-comentarioD p{
  margin: 0;
    text-align: -webkit-left;
    padding-left: 20px;
    padding-right: 30px;
}
.post-comentarioD .react-comentario{
  width: 20%;
  margin: 0;
  height: 100%;
}

/* ARRUMANDO */
.perfil2{
  display: flex;
  background-color: #3DCD58;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dadosperfil{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.nomenivel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}

.dado{
  background-color: #d9ffa9;
  border-radius: 30px;
  padding: 10px;
  width: 500px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.progressos{
  background-color: #3DCD58;
  justify-content: center;
  align-items: center;
}

.box1{
  display: grid;
  text-align: center;
  margin-top: 30px;
  gap: 30px;
  font-weight: bolder;
}

/*ESPERANÇA*/

.perfil2{
  display: flex;
  background-color: #3DCD58;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dadosperfil{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.nomenivel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}

.dado{
  background-color: #d9ffa9;
  border-radius: 30px;
  padding: 10px;
  width: 500px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.progressos{
  display: flex;
  flex-direction: column;
  background-color: #3DCD58;
  justify-content: center;
  align-items: center;
}

.box1{
  display: grid;
  text-align: center;
  margin-top: 30px;
  gap: 30px;
  font-weight: bolder;
}
/* ________________________________________________________________ */

.container-cad{
  background-color: #3dcd58;
  display: flex;
  justify-content: space-around;
}
.espaco-cad{
  background-color: #fff;
  height: 80px;
}

.img-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-top: 30px;
}
.btn-cad{
  margin-left: 20px;
  color: #FFF;
  background-color: #8BCF6E;
  margin-top: 25px;
  margin-left: 155px;
}

.img-cad{
  width: 493px;
  height: 351px;
}

.form-cad{
  color: #fff;
  margin-right: 80px;
  margin-top: 80px;
}
.form-cad input{
  background-color: #8BCF6E;
  border: none; 
  border-radius: 30px;
  width: 300px;
  color: #fff ;
}
.form-check-cad input {
  width: 15px;
  grid-gap: 10px;
}

.container-log{
  display: flex;
  justify-content: space-around;
  background-color: #3DCD58;
}

.form-log{
  background-color: #9CEF78;
  border-radius: 40px;
  height: 350px;
  width: 300px;
  margin-top: 100px;
}
.log-div{
  margin:17%;
  grid-gap:20px;
  color: #fff ;
}
.form-log input{
  background-color: #8BCF6E;
  border: none; 
  border-radius: 30px;
  width: 200px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.form-check-log input{
  width: 15px;
  display: flex;
  margin-top: 10px;
  font-size: 15px;  
}

.espaco-log{
  background-color: #3dcd58;
  height: 80px;
}

.btn-log{
  color: #fff;
  margin-left: 75px;
}

.cad-p{
  color: #fff;
  font-size: 15px;
  margin-left: 28px;
}

.cad-a{
  color: #FFF;
}