@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Comfortaa';
}

.container{
  width: 100% ;
  margin: 0px ;
  padding: 0px;
  display: inline;
}

.banners{
  width: 100%;
}

#carouselExample
{
  width: 400px;
}
.menu {
    width: 100%;
    margin: auto;
    align-items: center;
    height: 60px;
    z-index: 1;
    display: flex;
    position: fixed;
}


.lista1{
    background-color:black;
    text-align: end;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    margin: auto;
    height: 100%;
    padding-inline-end: 5px;
    width: 100%;
    padding: 30px;
    list-style-type: none;
}  

.logo {
    width: auto;
    position: absolute;
}



.item-lista1{
    min-width: 100px;
    color: white !important;
    text-decoration: none;
    text-align: center;
    padding-inline: 15px;
    font-family: 'Comfortaa';
    transition: 0.5s;
}


.item-lista1:hover{
    background-color: lightgray;
    color: black;
    padding-inline: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

  .banner, .bannerp, .bannerPontosExtras, .banner2, .banner3{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .banner2{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/banner2.png);
  }

  .banner3{
    background-image: url(img/sobre.png);
  }

  .banner{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/banner.png);
  }

  .bannerp{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bannerPontuacoes.jpg);
  }

  .bannerPontosExtras{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bannerPontosExtras.png);
  }

  #bannerHall{
    background-image:  url(img/bannerHallPontuacao.png);

  }

  #bannerNiveis{
    background-image:  url(img/bannerNiveisPontuacoes.png);
  }

  #bannerd{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/bannerd.jpg);
  }
  #bannerDesafios{
    background-image:  url(img/bannerDesafios.png);
  }

  .titulobanner, .subtitulobanner {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa';
    display: flex;
    width: 90%;
    justify-content: center;
  }
  
  .titulobanner {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Comfortaa';
  }
  
.subtitulobanner {
    font-size: 18px;
    display: flex;
    margin-top: 100px;
  }
  
.tabindex{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}


.textointroducao{
  display: grid;
  flex-direction: column;
  font-family: 'Comfortaa';
  margin-right: 100px;
  font-size: 18px;
  line-height: 30px;
  grid-gap: 30px;
}

button {
  background-color: #93c47d;
  border: solid #93c47d 1px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-family: 'Comfortaa';
  font-size: 15px;
}

.video {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.video iframe {
width: 600px;
height: 395px;
}

.beneficios{
  background-color: #bfc56b;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  align-items: center;
}

  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }

.blocosbeneficios{
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}

.bloco{
  display: grid;
  flex-direction: column;
  padding: 30px 20px;
  grid-gap: 15px 8px;
  line-height: 30px;
}

.imgbeneficio{
  width: 250px;
  height: 212px;
  margin-left: 15px;
}

hr{
  width: 90%;
  display: block;
  margin-left: 80px;
}

.imglinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imglink1{
  display: grid;
  grid-gap: 40px;
  }

.imglink{
  margin-left: 40px;
}

.login{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: 100%;
  height: 350px;
  justify-content: center;
  align-items: center;
}

.imglogin{
  background-image: url(img/seguranca.png);
  width: 250px;
  height: 281px;
  margin-left: 80px;
}

.textlogin{
  margin-left: 50px;
  display: grid;
  grid-gap: 15px 8px;
  width: 60%;
  margin-right: 80px;
}

footer{
  display: flex;
  flex-direction: row;
  background-color: #bfc56b;
  margin-top: 80px;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.imgfooter{
  background-image: url(img/footer.png);
  width: 256px;
  height: 256px;
  margin-left: 80px;
}

.textfooter{
  margin-left: 50px;
  display: grid;
  grid-gap: 15px 8px;
  width: 60%;
  margin-right: 80px;
  color: white;
}

.collapsible {
  cursor: pointer;
  padding: 10px;
  background-color: #bfc56b;
  font-weight: 800;
  height: 100px;
  display: flex;
  align-items: center;
}

.collapsible:after {
  content: '\25B6'; /* Unicode para a seta para a direita */
  position: absolute;
  right: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s;
}


.content {
  display: none;
  line-height: 30px;
  padding: 10px;
  background-color: #bfc56b;
  width: 100%;
}

.content.active {
  display: block;
}

.active.collapsible:after {
  transform: rotate(90deg);
}


.introducao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.imgintroducao{
  background-image: url(../CSS/img/incentivo.png);
  width: 540px;
  height: 540px;
  display: flex;
}

.textintroducao{
  width: 90%;
  display: flex;
  margin-top: 50px;
  font-weight: 600;
}

.box{
  display: flex;
  flex-direction: row;
  padding-inline: 65px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.textboxA{
  display: grid;
  grid-gap: 15px 8px;
  width: 800px;
  margin-right: 50px;
  font-size: 16px;
}

.textboxB{
  display: grid;
  grid-gap: 15px 8px;
  width: 800px;
  margin-left: 50px;
  font-size: 16px;
}

span{
  background-color: #b6d7a8;
}

.dicasONU{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  background-color: lightgray;
  width: 100%;
  height: 300px;
  justify-content: center;
  padding: 50px;
  align-items: center;
}

.imgONU{
  background-image: url(../CSS/img/ONU.png);
  width: 440px;
  height: 230px;
}

.textONU{
  display: grid;
  grid-gap: 15px 8px;
  margin-left: 60px;
}

a {
  color: black;
}

.image-container {
  opacity: 0; /* Inicialmente, a imagem está oculta */
  transition: opacity 0.5s; /* Efeito de transição suave */
  margin: 20px;
  width: 66px;
  height: 66px;
}

.image-container.show {
  opacity: 1; /* Mostra a imagem quando a classe "show" é adicionada */
  width: 66px;
  height: 66px;
}

.noticia{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 80px;
}

.textnoticia{
  display: grid;
  width: 570px;
  grid-gap: 30px 8px;
  text-align: end;
  margin-right: 40px;
  margin-left: 30px;
}

.imagensODS{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.botaoteam{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.avatares1{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.avatartext{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 15px;
  justify-content: space-around;
}
/* ---------perfil---------- */
.distancia-teste{
  height: 140px;
}

.forum-perfil{
  background-color: #3DCD58;
  height: 480px;
}

.forum-sub{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.forum-perfil > h4 {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.forum-perfil p {
  text-align: center;
}

.img-perfil{
  background-image: url(../CSS/img/perfil-challenge.png);
  height: 325px;
  width: 324px; 
  margin-left: 5%;
}

.img-menu-perfil{
  background-image: url(../CSS/img/menu-perfil-challenge.png);
  height: 325px;
  width: 499px;
  margin-right: 5%;
}
/* ---------post---------- */
.criar-post{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.perfil-post{
  width: 60px;
  height: 60px;
  margin-top: 5%;
}
.react-comentario{
  width: 170px;
  height: 30px;
  margin-top: 5%;
  margin-left: 40%;
}

.escrever-post input {
  border: none;
  height: 30px;
  width: 400px;
  margin-left: 15px;
}

.botoes-post{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.btn-post{
  background-color: #3DCD58;
}
.btn-rasc{
  background-color: #FFF;
  color: #3DCD58;
}
.menu-timeline button{
  background-color: #E5FFE6;
  border: none;
}
.menu-timeline{
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  margin-left: 15%;
}

.timeline-forum{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  grid-gap: 50px;
}

.post{
  word-wrap: break-word;
  width: 750px;
  margin-right: 150px;
}
.post p{
  margin: 10px;
  font-size: 14px;
}
.post input{
  border: none;
  margin-left: 15px;
}

.perfil-post-1{
 background-image: url(../CSS/img/perfil-post-1.png);
 height: 119px;
 width: 749px;
}

.perfil-post-2{
  background-image: url(../CSS/img/perfil-post-2.png);
  height: 119px;
  width: 749px;
 }

 .perfil-post-3{
  background-image: url(../CSS/img/perfil-post-3.png);
  height: 119px;
  width: 749px;
 }

.img-post-1{
  background-image: url(../CSS/img/img-post-1.png);
  height: 250px;
  width: 750px;
}

.img-post-3{
  background-image: url(../CSS/img/img-post-3.png);
  height: 320px;
  width: 750px;
}
.like-coment{
  display: flex;
  justify-content: space-between;
  color: #3DCD58;
}
